force-app/main/default/flows/Modify_Discount_Percent_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>ModifyAmount</name>
        <label>ModifyAmount</label>
        <locationX>777</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>$Record.Discount_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Final_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeFianlAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFields</targetReference>
        </connector>
    </assignments>
    <description>할인율 레코드가 수정되었을때 연관된 각 필드에 수정된 값 반영</description>
    <environments>Default</environments>
    <formulas>
        <name>ChangeAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Amount__c}* ({!$Record.Discount_Percent__c} / 100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ChangeFianlAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Amount__c} - {!$Record.Discount_Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Modify Discount Percent Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modify Discount Percent Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateFields</name>
        <label>UpdateFields</label>
        <locationX>773</locationX>
        <locationY>586</locationY>
        <inputAssignments>
            <field>Discount_Amount__c</field>
            <value>
                <elementReference>ChangeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Amount__c</field>
            <value>
                <elementReference>ChangeFianlAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ModifyAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discount_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
